<link rel="stylesheet" href="/css/sign-up.css">
<h1>Sign Up</h1>
  <!-- <div id="password">Password:<br><input  type="password"  name="password"  placeholder="Enter your PASSWORD here"  required></div><br> -->
  
<div id="sign-up-container">
  
    <form action="/create-user" method="POST">
         <!-- <div id="password">Password:<br><input type="password" name="password" id="" placeholder="Enter your password" required></div><br> --> 
        <div id="name">Name:<br><input type="text" name="name" id="" placeholder="Enter your name" required></div><br>  
         <!-- <div id="password">Password:<br><input type="password" name="password" id="" placeholder="Enter your password" required></div><br> -->
         <div id="email">Email:<br><input type="email" name="email" id="" placeholder="Enter your email" required></div><br>  
         <!-- <div id="password">Password:<br><input type="password" name="password" id="" placeholder="Enter your password" required></div><br> -->
         <div id="password">Password:<br><input type="password" name="password" id="" placeholder="Enter your password" required></div><br>  
     
         <div id="confirm password">Confirm Password: <br><input type="password" name="confirm_password" id="" placeholder="Confirm your password" required></div><br>
       <!-- <div id="password">Password:<br><input  type="password"  name="password"  placeholder="Enter your PASSWORD here"  required></div><br> -->
         <div id="submit"><button type="submit">Sign Up</button></div>  
     
    
    
    
    
    
        </form>  
</div>  